.card{
    display: flex;
    height: 80px !important;
    width: 99%;
    align-items: center;
    justify-content: space-around;
    background-color: #722c26;
    border: 2px solid black;
    flex-shrink: 0; 
    flex-grow: 0; 
}

.cardLabel{
    display: flex;
    align-self: center;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
}